<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./cssFiles/app.css">
    <link rel="stylesheet" href="./cssFiles/mediaqueries.css">
    <title>The Bark Side</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand">Navbar</a>
                <form class="d-flex" role="search" id="searchForm">
                <input class="form-control me-3" id="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" >Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="welcome" id="home">
            <h1 class="blockquote">Welcome To The Bark Side</h1>
            <p class="blockquote-footer">Fetch Joy, Leave Pawprints!</p>
        </div>

        <div class="cards" >
        <div class="card" style="margin-top: 21.5vh;" id="german-shepherd">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSQ65DnrupMNEvUvP2CBY7oAR2_cVZ5z4LydqAf2HGEm77-6HaY" class="card-img-top" alt="German Shepherd">
        <div class="card-body">
          <h5 class="card-title">German Shepherd</h5>
          <p class="card-text">The German Shepherd, also known in Britain as an Alsatian, is a German breed of working dog of medium to large size. The breed was developed by Max von Stephanitz using various traditional German herding dogs from 1899. It was originally bred as a herding dog, for herding sheep.</p>
          <a href="https://www.akc.org/dog-breeds/german-shepherd-dog/" class="btn btn-primary">More</a>
        </div>
      </div>
        <div class="card" id="bulldog" >
        <img src="https://cdn.britannica.com/07/234207-050-0037B589/English-bulldog-dog.jpg?w=300" class="card-img-top" alt="Bulldog">
        <div class="card-body">
          <h5 class="card-title">Bulldog</h5>
          <p class="card-text">The Bulldog is a British breed of dog of mastiff type. It may also be known as the English Bulldog or British Bulldog. It is a medium-sized, muscular dog of around 40–55 lb. They have large heads with thick folds of skin around the face and shoulders and a relatively flat face with a protruding lower jaw.</p>
          <a href="https://www.akc.org/dog-breeds/bulldog/" class="btn btn-primary">More</a>
        </div>
      </div>
        <div class="card" id="labrador-retriever" >
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTx_J-pWMcyuxVHWqKQv5eHQkkIldmDIVxuxQ3nbdUh9SVzCDdL" class="card-img-top" alt="Labrador Retriever">
        <div class="card-body">
          <h5 class="card-title">Labrador Retriever</h5>
          <p class="card-text">The Labrador Retriever or simply Labrador is a British breed of retriever gun dog. It was developed in the United Kingdom from St. John's water dogs imported from the colony of Newfoundland, and was named after the Labrador region of that colony.</p>
          <a href="https://www.akc.org/dog-breeds/labrador-retriever/" class="btn btn-primary">More</a>
        </div>
      </div>
        <div class="card" id="french-bulldog">
        <img src="https://i.guim.co.uk/img/media/fcf11509fd14440aa323610b834e0cf45b22b9df/0_208_3500_2102/master/3500.jpg?width=700&dpr=2&s=none" class="card-img-top" alt="french-bulldog">
        <div class="card-body">
          <h5 class="card-title">Frech Bulldog</h5>
          <p class="card-text">The French Bulldog is a French breed of companion dog or toy dog. It appeared in Paris in the mid-nineteenth century, apparently the result of cross-breeding of Toy Bulldogs imported from England and local Parisian ratters. </p>
          <a href="https://www.akc.org/dog-breeds/french-bulldog/" class="btn btn-primary">More</a>
        </div>
      </div>
        <div class="card" id="siberian-husky">
        <img src="https://cdn.britannica.com/84/232784-050-1769B477/Siberian-Husky-dog.jpg" class="card-img-top" alt="siberian-husky">
        <div class="card-body">
          <h5 class="card-title">Siberian Husky</h5>
          <p class="card-text">The Siberian Husky is a medium-sized working sled dog breed. The breed belongs to the Spitz genetic family. It is recognizable by its thickly furred double coat, erect triangular ears, and distinctive markings, and is smaller than the similar-looking Alaskan Malamute.</p>
          <a href="https://www.akc.org/dog-breeds/siberian-husky/" class="btn btn-primary">More</a>
        </div>
      </div>
        <div class="card" id="beagle">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0fxtDkOfFmhWh1WIeUA6WSs-FJfjBvY6eZEXE-uMde1K6xa_Q" class="card-img-top" alt="beagle">
        <div class="card-body">
          <h5 class="card-title">Beagle</h5>
          <p class="card-text">The beagle is a breed of small scent hound, similar in appearance to the much larger foxhound. The beagle was developed primarily for hunting hare, known as beagling.</p>
          <a href="https://www.akc.org/dog-breeds/beagle/" class="btn btn-primary">More</a>
        </div>
      </div>
        <div class="card" id="alaskan-malamute">
        <img src="https://cdn.britannica.com/02/236302-050-E1F61BB1/Alaskan-Malamute-sled-dog.jpg" class="card-img-top" alt="alaskan-malamute">
        <div class="card-body">
          <h5 class="card-title">Alaskan Malamute</h5>
          <p class="card-text">The Alaskan Malamute is a large breed of dog that was originally bred for its strength and endurance, to haul heavy freight as a sled dog, and as a hound. It is similar to other arctic breeds such as the husky, the spitz, the Greenland Dog, Canadian Eskimo Dog, the Siberian Husky, and the Samoyed.</p>
          <a href="https://www.akc.org/dog-breeds/alaskan-malamute/" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
</main>
    <footer>
        <div class="suggestion">
      <div class="form" >
        <form action="/" method="POST">
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Doe" required> 
              </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your Suggestion</label>
                <textarea name="suggestion" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <div class="copyright">
        &copy; 2024, Garima Bisht. All rights reserved.
      </div>
    </div>
    
    </footer>
    
    <script src="./jsfiles/app.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

